<h3>здесь отобразятся все посты приложений</h3>

{{!-- <div id="container">
  {{#each everyTask}}
  <div>
    <hr>
    <p>id:{{this.id}}</p>
    <p>name:{{this.name}}</p>
    <p>task:{{this.task}}</p>
    <p>status:{{this.status}}</p>
    <a href="/create/delete/{{this.id}}"> <button>удалить пост</button></a>
    <a href="/update/{{this.id}}"> <button>редактировать пост</button></a>
  </div>
  {{/each}}
</div> --}}
