

<h2>Посты, на которые Вы откликнулись</h2>
 <div class="post">
  {{#each userClaims}}
  <a href="/post/{{this.Post.id}}">
  <div class="card" style="width: 25rem;">
    <img src="{{this.Post.photo}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.Post.title}}</h5>
      <p class="card-text">{{this.Post.description}}
       <p>{{this.Message.text}}</p> 
      </p>
    </div>
  </div>
  </a>
  {{/each}}

</div>
