<h3>Главная страница и все посты через each</h3>
<div id="container">
  {{#each everyPost}}
  <div id="{{this.id}}">
    <hr>
    <img src=".{{this.photo}}" alt="Без изображения">
    <a href="/post/{{this.id}}"><p>{{this.title}}</p></a>
    <p>{{this.description}}</p>
  </div>
  {{/each}}
</div>

