
<div class="post" id="{{post.id}}">
  <div class="card" style="width: 25rem;">
    <a href="{{post.photo}}" target="_blank"><img src=".{{post.photo}}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.description}}</p>
    </div>
  </div>
  {{#if userName}}
  <div class="card text-center">
   <form name="claimForm" action="/post/{{post.id}}" method="POST">
      {{#if alreadyClaimed}}
      <input style="width: 500px;" disabled class="card-text" type="text" name="text" placeholder="Ваше сообщение к заявлению">
      <button disabled class="btn btn-danger">Откликнуться</button>
      {{else}}
      <input class="card-text" type="text" name="text" placeholder="Ваше сообщение к заявлению">
      <button class="btn btn-primary">Откликнуться</button>
      {{/if}}
    </form>
  </div>
{{/if}}
{{#if alreadyClaimed}}
  Вы уже сделали запрос на этом посту!
  {{/if}}
  {{#if claimFail}}
  Не удалось сделать запрос!
  {{/if}}
<div class="claim-messages card" >
    {{#each claimMess}}
    <div class="card-body">
    <blockquote class="blockquote mb-0">
    <div>{{this.Message.text}}</div>
    <footer class="blockquote-footer mt-0">{{this.Message.User.name}} откликнулся(-ась)</footer>
    </blockquote>
    </div>
    {{/each}}
  </div>
</div>
  
  

