<h3>Здесь отобразятся все посты юзера</h3>

<div id="container">
  {{#each everyPost}}
  <div id="{{this.id}}"></div>
    <hr>
    <img src=".{{this.photo}}" alt="Без изображения">
    <a href="/post/{{this.id}}"><p>{{this.title}}</p></a>
    <p>{{this.description}}</p>
    <a href="/profile/{{this.id}}/delete"> <button>удалить пост</button></a>
    
  </div>

  {{/each}}
</div>
