<h3>Здесь отобразятся все посты юзера</h3>

{{!-- <div id="container">
  {{#each ______}}
  <div>
    <hr>
    <p>{{this.id}}</p>
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.photo}}</p>
    <a href="/create/delete/{{this.id}}"> <button>удалить пост</button></a>
    <a href="/update/{{this.id}}"> <button>редактировать пост</button></a>
  </div>
  {{/each}}
</div> --}}
